* {
  font-family: 'Kanit', sans-serif;
  color: rgb(81, 162, 255); 
  
}

#navbar {
  background-color: #242424;
}

a.navbar-brand {
  width: 10%; 
  margin-left: 10px;
  margin-right: 0; 
  padding-right: 0; 
  display: flex;
  justify-content: center;
  border-radius: 30%;
}


.navbar-brand {
  will-change: filter;
  transition: filter 300ms;
}

.navbar-brand:hover {
  filter: drop-shadow(0 0 2em #44c1ff);
}

.navbar-brand.react:hover {
  filter: drop-shadow(0 0 2em #00c8ffaa);
}


img {
  width: 80%; 
  border-radius: 30%; 
}

a.nav-link {
  margin-right: 11px; 
  margin-left: 60px;
  font-size: 22pt; 
}

 .header {
  margin: auto; 
  width: 100%; 
  text-align: center; 
  background-color:#242424;
} 

.main-head {
  padding-top: 60px; 
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  padding-bottom: 10px; 
}

.navbar-item:hover {
  filter: drop-shadow(0 0 2em #f8fdff);
}

.navbar-item.react:hover {
  filter: drop-shadow(0 0 2em #00c8ffaa);
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1022e9, 0 0 40px #1022e9, 0 0 50px #1022e9, 0 0 60px #1022e9, 0 0 70px #1022e9;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #536dff, 0 0 40px #536dff, 0 0 50px #536dff, 0 0 60px #536dff, 0 0 70px #536dff, 0 0 80px #536dff;
  }
}

.sub-head {
  margin: 0; 
  padding-bottom: 50px; 

}

.flip-container {
  display: flex; 
  justify-content: space-evenly; 
  background-color: #242424;
  margin: auto;
  width: 100%; 
}

.flip-box {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px; 
}


.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}


.flip-box-front, .flip-box-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}


.flip-box-front {
  background-color:#242424;
  color: black;
}


.flip-box-back {
  display: flex;
  margin: 0; 
  justify-content: center;
  text-align: center;
  background-color:#242424;
  color: white;
  transform: rotateY(180deg);
}

.question-mark {
  height: 400px; 
  width: 400px; 
  padding-top: 10px; 
  
}

.magnifier {
  height: 350px;
  width: 350px;
  padding-bottom: 50px;
}



@keyframes navbar-brand-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .navbar-brand {
    animation: navbar-brand-spin infinite 20s linear;
  }
}

.glow-btns {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  background-color: #242424;
}

.search-btn-home {
  margin-right: 90px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  font-size:large;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #0aecf4, #0190d3, #4e46f3, #22a3df, #00ffd5, #002bff, #0a506c, #6b91ea, #22dcad);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgb(229, 252, 255)
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/* Search page styling  */

.input-container {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #242424;
  margin: 0; 
}

.search-header {
  margin-bottom: 0; 
  padding-bottom: 8px; 
  padding-top: 60px; 
  width: 100%; 
  text-align: center; 
  background-color:#242424;
} 

.input {
  margin-right: 10px;
  border-radius: 10px;
  border: none; 
  font-size: large; 
}

.search-btn {
  width: 80px;
  height: 50px;
  border: none;
  outline: none;
  font-size:medium;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.search-btn:before {
  content: '';
  background: linear-gradient(45deg, #0aecf4, #0190d3, #4e46f3, #22a3df, #00ffd5, #002bff, #0a506c, #6b91ea, #22dcad);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.search-btn:active {
  color: rgb(229, 252, 255)
}

.search-btn:active:after {
  background: transparent;
}

.search-btn:hover:before {
  opacity: 1;
}

.search-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/* Random page styling */

.random-header {
  margin-bottom: 0; 
  padding-bottom: 8px; 
  padding-top: 60px; 
  width: 100%; 
  text-align: center; 
  background-color:#242424;
} 

.container-tweeters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: #242424;
}
.container-tweeters img {
  margin: 20px; 
  width: 100px;  
  height: auto;  
  border: none;
  outline: none;
  font-size:large;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
}


.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container-tweeters:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}