
.input-container {
  display: flex;
  margin-bottom: 0px;
}


.input {
  flex: 1;
  margin-right: 10px;
}

.search-btn {
  width: 80px;
}

.tweet-cards {
  display: flex;
  flex-direction: column; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: #242424; 
}


.card {
  display: flex;
  flex-direction: column; 
  margin-bottom: 10px;
  margin-left: 200px;
  width: 60%;
  padding: 10px;
  border: 5px solid rgb(139, 153, 242);
  border-radius: 5px;
  background-color: #eaf7fa; 
}

.card-header {
  display: flex;
  align-items: center;
}

.profile-image {
  max-width: 40px; 
}

.card-body p {
  margin-bottom: 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.icon-img {
  width: 40px; 
  height: 40px; 
  margin-right: 5px; 
}

.no-tweets-container {
  display: flex;
  flex-direction: column; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: #242424; 
}

.no-tweets-message {
  display: flex;
  justify-content: center;
  align-items: center; /* Center the text vertically */
  margin: 0 auto; /* Center the card horizontally */
  max-width: 40%; /* Limit the maximum width of the card */
  padding: 10px;
  border: 5px solid rgb(139, 153, 242);
  border-radius: 5px;
  background-color: #26d7ff;
  color: red
}
