
.navbar-brand {
  will-change: filter;
  transition: filter 300ms;
}
.navbar-brand:hover {
  filter: drop-shadow(0 0 2em #2934ffaa);
}
.navbar-brand.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

img {
  width: 30%; 
  border-radius: 50%; 
}

@keyframes navbar-brand-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .navbar-brand {
    animation: navbar-brand-spin infinite 20s linear;
  }
}
