#navbar {
  background-color: #242424;
}

a.navbar-brand {
  width: 10%; 
  margin-left: 10px;
  margin-right: 0; 
  padding-right: 0; 
  display: flex;
  justify-content: center;
}


.navbar-brand {
  will-change: filter;
  transition: filter 300ms;
}

.navbar-brand:hover {
  filter: drop-shadow(0 0 2em #44c1ff);
}

.navbar-brand.react:hover {
  filter: drop-shadow(0 0 2em #00c8ffaa);
}

.navbar-item:hover {
  filter: drop-shadow(0 0 2em #44c1ff);
}

.navbar-item.react:hover {
  filter: drop-shadow(0 0 2em #00c8ffaa);
}
img {
  width: 80%; 
  border-radius: 30%; 
}

a.nav-link {
  margin-right: 40px; 
  margin-left: 40px;
}

@keyframes navbar-brand-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .navbar-brand {
    animation: navbar-brand-spin infinite 20s linear;
  }
}
